p, span, button, a{
  font-family: 'Open Sans', sans-serif;
}
.header-employee-detail-page{
    width: 100%;
    height: 240px;
    margin-top: 10px;
}

.avatar{
    height: 240px;
    width: 240px;
    float: left;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    float: left;

}

.main-header-detail{
    height: 240px;
    padding: 25px 30px;
    background: white;
    float: left;
    width: 560px;
}

.left-header-detail{
    float: left;
    width: 280px;
}

.right-header-detail{
    width: 220px;
    float: left;
}

.employee-gender-info{
    width: 280px;
    height: auto;
    float: left;
}

.employee-contact-info{
    width: 220px;
    height: 160px;
    float: left;
}

.employee-name{
    margin-bottom: 0;
    overflow: hidden;
    float: left;
}

.employee-name p{
    font-weight: bold;
    margin: 0;
    font-size: 14pt;
}

.employee-rating{
    width: 30px;
    height: 35px;
    float: left;
    margin-top: -5px;
    margin-left: 15px;
    text-align: center;
}

.employee-rating img{
    width: 100%;
    height: 100%
}

.employee-rating p{
    color: white;
    font-size: 8pt;
    margin-bottom: 0;
    margin-top: -23px;
    margin-left: -1px;
}

.gender-age-param{
  float: left;
  width: 100%;
}

.gender-age-param p{
  font-size: 10pt;
  color: #a7a7a7;
  margin: 0;
  float: left;
}

.invite-on-casting{
    width: 168px;
    height: 30px;
    margin-top: 0;
    border-radius: 15px;
    background: #0fbeed;
    color: white;
    display: block;
    float: right;
    margin-bottom: 0;
    text-align: center;
}
.invite-on-casting:hover{
  background: #4bdcff;
}

.invite-on-casting:hover{
    cursor: pointer;
}

.invite-on-casting p{
    font-size: 10pt;
    color: white;
    padding-top: 5px;
}

.contact-info-title {
    float: left;
}

.contact-info-title p{
    margin: 0;
    font-size: 10pt;
    font-weight: 700;
    padding-left: 20px;
}

.contact-info{
    float: left;
    width: 100%;
}

.contact-info p{
    font-size: 10pt;
    margin: 0;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}

.contact-info img{
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 15px;
}

.info-employee{
    height: 135px;
    overflow: hidden;
    text-align: left;
    float: left;
    width: 230px;
    margin-top: 15px;
}

.description-title{
    font-size: 10pt;
    font-weight: 700;
    margin: 0;
}
.description-text{
    font-size: 10pt;
    margin: 0;
  white-space: normal;
  word-wrap: break-word;
}
.info-employee-contacts{
    height: auto;
    float: left;
    margin-top: 15px;
}

.main-middle{
    padding: 25px 30px;
    height: 250px;
    background: white;
}

.middle-header{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.middle-header p{
    font-weight: bold;
    font-size: 12pt;
}

.middle-content{
    width: 185px;
    height: 160px;
    float: left;
}

.middle-content p{
    padding-top: 10px;
    margin-bottom: 0;
    display: block;
    font-size: 10pt;

}

.piercing {
    height: 30px;
    width: 180px;

}

.piercing  p{
    display: block;
    float: left;
}

.tatu{
    height: 30px;
    width: 180px;

}

.tatu p {
    display: block;
    float: left;
}

.elem-middle-content{
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
}

.photo-content{
  width: 100%;
  background: white;
  height: 40px;
}

.photo-content .photo-title{
  font-weight: bold;
  font-size: 12pt;
  padding-left: 30px;
  margin: 0;
  float: left;
}

.photo-content .photo-path{
  font-size: 11pt;
  float: right;
  margin: 0;
  padding-right: 30px;
  padding-top: 2px;
  text-decoration: underline;
  cursor: default;
}

.photo-content .photo-full{
  font-size: 11pt;
  float: right;
  margin: 0;
  padding-right: 30px;
  padding-top: 2px;
  text-decoration: underline;
  cursor: pointer;
}

.photo-content-box{
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 191px);
  grid-auto-rows: 150px;
}

.photo-content-box-path{
  display: grid;
  grid-gap: 12px;
  grid-template-columns:  repeat(4, 191px);
  grid-template-rows: 150px

}
.photo-elem-box{
  width: 100%;
  height: 100%;
}

.photo-elem-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-main{
    height: auto;
    width: 100%;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 85px;
}

.portfolio-text{
    width: 100%;
    margin-top: 25px;
    height: 40px;
}

.portfolio-title{
    font-weight: bold;
    font-size: 12pt;
    float: left;
    display: block;
}

.portfolio-count{
    font-weight: 400;
    font-size: 11pt;
    text-decoration: underline;
    float: right;
    display: block;
}

.portfolio-elem{
    height: 40px;
    border-bottom: 1px solid #e8e8e8;
}

.path-portfolio-info{
    float: left;
}

.path-portfolio-info p{
    padding-top: 10px;
    font-size: 10pt;
}

.portfolio-date{
    width: 208px;
}

.portfolio-date p{
    color: #999999;
}

.portfolio-name{
    width: 264px;
}

.portfolio-name p{
    font-weight: 700;
}

.portfolio-description{
    width: 264px;
}
.portfolio-description p{}

.overlay-invite{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
  cursor: pointer;
}

.overlay-invite.visible{
  display: block;
}

.invite-create-detail-app{
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -200px;
  margin-left: -205px;
  z-index: 999;
  display: none;
  cursor: pointer;
}

.invite-create-detail-app.visible{
  display: block;
}

.portfolio-empty{
  width: 100%;
  height: 50px;
  text-align: center;
}

.portfolio-empty p{
  color: #999999;
  font-size: 10pt;
  padding-top: 20px;
}

.portfolio-no-empty{
  width: 100%;
  height: auto;
  border-top: 1px solid #e8e8e8;
}

.photo-content{
  width: 100%;
  background: white;
  height: 40px;
}

.photo-content .photo-title{
  font-weight: bold;
  font-size: 12pt;
  padding-left: 30px;
  margin: 0;
  float: left;
}

.photo-content .photo-counter{
  font-size: 11pt;
  float: right;
  margin: 0;
  padding-right: 30px;
  padding-top: 2px;
  text-decoration: underline;
}

.photo-counter{
  font-weight: normal!important;
}

.photo-content-box{
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, 191px);
  grid-auto-rows: 150px;
  margin-top: 0;
}
.photo-elem-box{
  width: 100%;
  height: 100%;
}

.photo-elem-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-wrapp{
  height: auto;
  width: 100%;
  display: inline-block;
}

.poll{
  width: 100%;
  height: 20px;
  float: left;
}

.poll-title{
  font-size: 9pt;
  color: #c2c2c2;
  float: left;
  margin-bottom: 0;
  margin-top: 2px;
}

.oreh{
  height: 20px;
  width: auto;
  margin-left: 5px;
}

.notifi-messages{
  height: 32px;
  width: 400px;
  background: rgba(51, 51, 51 , 0.7);
  border-radius: 5px;
  position: absolute;
  top: 30px;
  z-index: 999999999;
  margin-left: 200px;
  display: none;
  text-align: center;
}

.notifi-messages p{
  font-size: 12pt;
  padding: 5px 10px;
  color: rgba(255, 255, 255 ,0.6);
}


.notifi-messages.visible{
  display: block;
}

.voice-messages{
  height: 32px;
  width: 400px;
  background: rgba(51, 51, 51 , 0.7);
  border-radius: 5px;
  position: absolute;
  top: 30px;
  z-index: 999999999;
  margin-left: 200px;
  display: none;
  text-align: center;
}

.voice-messages p{
  font-size: 12pt;
  padding: 5px 10px;
  color: rgba(255, 255, 255 ,0.6);
}

.voice-messages.visible{
  display: block;
}

.photos-empty{
  width: 100%;
  height: 50px;
  text-align: center;
}

.photos-empty p{
  color: #999999;
  font-size: 10pt;
  padding-top: 20px;
}
