<div class="wrapp">
    <div class="header">
        <img class="background-image" src="{{host}}static/img/actorhead.png">
        <div class="search-title">
            <p>Ищите конкретную роль?</p>
        </div>
        <div class="search">
            <div class="search-wrapp">
                <div class="search-input">
                    <input type="text" placeholder="Введите имя" name="search" value="" [(ngModel)]="filter_search">
                </div>
                <div class="search-button" (click)="search(filter_search)">
                    <img src="{{host}}static/img/search.png">
                </div>
            </div>
        </div>
    </div>
    <div class="filters">
        <div class="filter-select">
            <select name="gender" (change)="change_type(type_id)" [(ngModel)]="type_id">
                <option [value]="0">Любого типа</option>
                <option [value]="11">Фотосьемки</option>
                <option [value]="22">Клипы</option>
                <option [value]="33">Фильмы</option>
                <option [value]="44">Реклама</option>
            </select>
        </div>
        <div class="filter-order-wrap">
        </div>
        <div class="filter-param" *ngIf="!bigsearch">
          <p (click)="toggleBigSearch()">Расширенный поиск</p>
        </div>
        <div class="filter-param" *ngIf="bigsearch">
          <p (click)="toggleBigSearch()">Свернуть</p>
        </div>
    </div>
  <div class="main-search-filter" *ngIf="bigsearch">
    <div class="top-main-search-filter">
      <div class="filter-main-text">Требования роли:</div>
      <div class="button-search" (click)="searchGlobalFilter(searchparameters, tatu, piercing)"><img src="{{host}}static/img/search-white.png"><p>Искать</p></div>
    </div>
    <div class="main-middle">
      <div class="middle-content">
        <div class="elem-middle-content">
          <p>Рост(см):</p>
          <input [(ngModel)]="searchparameters.growth" type="number">
        </div>
        <div class="elem-middle-content">
          <p>Размер одежды:</p>
          <input [(ngModel)]="searchparameters.clothsize" type="number">
        </div>
        <div class="elem-middle-content">
          <p>Обхват груди(см)</p>
          <input [(ngModel)]="searchparameters.chestsize" type="number">
        </div>
        <div class="elem-middle-content">
          <p>Обхват талии(см)</p>
          <input [(ngModel)]="searchparameters.waistsize" type="number">
        </div>
      </div>
      <div class="middle-content">
        <div class="elem-middle-content">
          <p>Обхват бедер(см):</p>
          <input [(ngModel)]="searchparameters.thighsize" type="number">
        </div>
        <div class="elem-middle-content">
          <p>Размер обуви:</p>
          <input [(ngModel)]="searchparameters.footsize" type="number">
        </div>
        <div class="elem-middle-content">
          <p>Обхват шеи(см)</p>
          <input [(ngModel)]="searchparameters.necksize" type="number">
        </div>
        <div class="elem-middle-content">
          <p>Обхват головы(см)</p>
          <input [(ngModel)]="searchparameters.headsize" type="number">
        </div>
      </div>
      <div class="middle-content">
        <div class="elem-middle-content checkbox-content">
          <p>Наличие тату:</p>
          <input [(ngModel)]="tatu" type="checkbox">
        </div>
        <div class="elem-middle-content checkbox-content">
          <p>Наличие пирсинга:</p>
          <input [(ngModel)]="piercing" type="checkbox">
        </div>
        <div class="elem-middle-content">
          <p>Тип внешности:</p>
          <select [(ngModel)]="searchparameters.appearancetype">
            <option *ngFor="let appearancetype of appearancetypes" value="{{appearancetype.id}}">{{appearancetype.name}}</option>
          </select>
        </div>
        <div class="elem-middle-content">
          <p>Цвет волос:</p>
          <select [(ngModel)]="searchparameters.haircolor">
            <option *ngFor="let haircolor of haircolors" value="{{haircolor.id}}">{{haircolor.name}}</option>
          </select>
        </div>
      </div>
      <div class="middle-content last-col-content">
        <div class="elem-middle-content">
          <p>Тип профессии:</p>
          <select [(ngModel)]="searchparameters.employmenttype">
            <option *ngFor="let employmenttype of employmenttypes" value="{{employmenttype.id}}">{{employmenttype.name}}</option>
          </select>
        </div>
        <div class="elem-middle-content">
          <p>Цвет глаз:</p>
          <select [(ngModel)]="searchparameters.eyecolor">
            <option *ngFor="let eyecolor of eyecolors" value="{{eyecolor.id}}">{{eyecolor.name}}</option>
          </select>
        </div>
        <div class="elem-middle-content">
          <p>Город:</p>
          <select [(ngModel)]="searchparameters.city">
            <option *ngFor="let city of citys" value="{{city.id}}">{{city.name}}</option>
          </select>
        </div>
        <div class="elem-middle-content">
          <p>Возраст:</p>
          <input [(ngModel)]="searchparameters.age" type="number">
        </div>
      </div>
    </div>
  </div>
    <div class="content">
      <div *ngIf="roleList?.length > 0">
        <div class="elem-content" *ngFor="let role of roleList;">
            <div [routerLink]="['/employee/castingDetail', role?.casting?.id ]" class="elem-img">
                <img [src]=role?.casting?.image>
            </div>
            <div class="elem-text">
                <p class="first-text">Съемка: {{role?.casting?.name}}</p>
                <p class="last-text">Роль: {{role?.name}}</p>
            </div>
        </div>
      </div>
      <div *ngIf="roleList?.length == 0">
        <p>По вашему запросу ничего не найдено</p>
      </div>
    </div>
    <div class="footer" *ngIf="next">
      <p class="footer-text"  (click)="more()">показать еще</p>
    </div>
    <div class="footer"  *ngIf="next == null" style="background: transparent">
    <div class="bottom-space"></div>
</div>
</div>
