p, span, button, a{
  font-family: 'Open Sans', sans-serif;
}
.main-request-list{
    width: 100%;
    height: auto;
}

.content-request-list{
    width: 100%;
    height: auto;
    float:left;
    margin-top: 10px;
    background: white;
    padding: 25px 30px;
}

.casting-name{
    width: 100%;
    font-weight: 700;
    display: block;
    float: left;
    font-size: 12pt;
    margin-bottom: 7px;
    cursor: pointer;
  outline: none;
}

.casting-date{
    font-size: 8pt;
    color: red;
    display: block;
    float: left;
    margin-bottom: 7px;
}

.casting-location-img{
    width:10px;
    height: 15px;
    float: left;
    margin-left: 20px;
    margin-top: -1px;
}

.casting-location{
    display: block;
    float: left;
    font-size: 8pt;
    color: #999999;
    margin-bottom: 7px;
    margin-left: 4px;
}

.casting-description-wrapp{
    width: 100%;
    float: left;
    height: auto;
}

.casting-description{
    font-size: 8pt;
    width: 60%;
    float: left;
    display: block;
    margin-bottom: 10px;
}

.bot-content-request-list{
    float: left;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.bot-content-request-list-img-back{
    display: block;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-color: #32e904;
    border-radius: 15px 15px;
}

.bot-content-request-list img{
    width: 26px;
    height: 26px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 13px 13px;
}

.elem-bot-content-name{
    display: block;
    float: left;
    font-weight: 700;
    margin: 0;
}

.elem-bot-content-counter{
    margin-top: 15px;
    display: block;
    float: left;
    margin-left: 5px;
}

.status{
    width: 100%;
    float: left;
    height: 30px;
}
.status-text{
    font-size: 10pt;
    color: #999999;
    float: left;
    margin: 0;
    padding-top: 10px;
}

.status-buttons{
    width: 200px;
    height: 30px;
    float: right;
}

.ok{
    width: 90px;
    height: 30px;
    float: left;
    text-align: center;
    background-color: #0fbded;
}

.cancel{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    float: left;
    background-color: #fe181a;
    text-align: center;
}

.closed{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #cccccc;
    cursor: default!important;
}
.accept{
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: #0fbeed;
  cursor: default!important;
}

.closed-invite {
    color: white;
}

.but{
    border-radius: 15px;
}

.but:hover{
    cursor: pointer;
}

.but p{
    font-size: 10pt;
    color: white;
    padding-top: 5px;
}

.footer-text{
  margin-top: 10px;
  height: 30px;
  width: 120px;
  border-radius: 15px;
  background: #0fbeed;
  padding-top: 4px;
  display: inline-block;
  color: white;
  cursor: pointer;
}

.footer{
  display: inline-block;
  height: 40px;
  background: white;
  text-align: center;
  width: 100%;
}
.footer-text:hover{
  background: #4bdcff;
}
